$space-large: 3.5rem;
$title-color: #555;

.page-title {
  margin-top: $space-large;
  margin-bottom: $space-large;
  font-family: 'Baloo Tammudu', cursive;
  color: black;
}
input[type=search] {
  box-shadow: none;
}

.message-div {
  position: absolute;
  float:left;
}

.body-image {
  background-image: url('img.jpg');
  display: block;
}

.top-bar {
  margin: 0.1rem;
  color: black;
}
