$space-large: 3.5rem;
$title-color: #2c2d2d;

input[type=search] {
  box-shadow: none;
}

a{
  color: #d6d6d8 !important;
}

.page-title {
  margin-top: $space-large;
  margin-bottom: $space-large;
  font-family: 'Baloo Tammudu', cursive;
  color: #d6d6d8;
}

.table-test {
  background-color: rgba(0,0,0,0.5);
  border-color: black !important;
}

.head-style {
  font-weight: bold;
}

.f-dropdown {
  outline: 1px dotted #333;
}

.button-color {
  color: white !important;
  background-color: rgba(0,0,0,0.5) !important;
  font-weight: bold;
}

.button:hover{
      border-color: white !important;
}

.link-color {
  color: white;
  font-weight: bold;
}

.active{
  color: white !important;
}

.message-div {
  position: absolute;
  float:left;
}

.body-image {
  background-image: url('dest.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  color: white !important;
  text-shadow:
    -0.3px -0.3px 0 #000,
    -0.3px -0.3px 0 #000,
    -0.3px -0.3px 0 #000,
    -0.3px -0.3px 0 #000;
}

.top-bar {
  background: black !important;
  .menu {
    background: black !important;
  }
}

#error-modal {
  color: black !important;
}
